body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  text-align: center;
  }

#heading{
  background-color: #343330;
  color:lightseagreen;
  font-family: Arial, Helvetica, sans-serif; 
}

#headshot{
  width: 170px;
  height: 170px;
  border-radius: 60%;
  margin: 10px;
  object-fit: cover;
  object-position: top 50%;
  border: lightseagreen solid 10px; 
  }

footer {
  background-color: #302e29;
  text-align: center;
  color:lightseagreen;
}

div{
  background-color: #343330;
  border-color: black;
  margin: 10px;
  border-radius: 10px;
}

article{
  background-color: grey;
}

#sidebar{
  width: 70%;
  background-color: #343330;
  color: lightseagreen;
  padding: 2rem;
  }

article{
  background-color: lavenderblush;
  border-color: black;
  margin: 10px;
  border-radius: 10px;
}

section{
  border-color: black;
  margin: 10px;
  border-radius: 10px;
}

.main{
  display: flex;
  margin-left: 1%;
  flex: 1;
}


